################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/TusFacturas.Sdk.Net/TusFacturas.Sdk.Net/obj
/TusFacturas.Sdk.Net/.vs
/TusFacturas.Sdk.Net/TusFacturas.Sdk.Net/bin/Debug/netstandard2.0
