################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/TusFacturas.Sdk.Net/TusFacturas.Sdk.Net/obj
